body{
	font-family:Balsamiq Sans, cursive;
	margin:0;
	font-size: 16px;
} 

header img {
	text-align: center;
	width: 300px;
	border: solid red;
	border-radius: 250px;

}

header {
	text-align: center;
	background-color: #F8A344;
	padding-top: 30px;
	padding-bottom: 15px;
}

h1 {
	text-align: center;
	color: red;
	font-size: 35px;
}

main img {
	max-width: 45%;
	border-radius: 930px;
	border: solid black 3px;
}

aside{
	float: right;
	text-align: right;
	padding-right: 20px;
}

.categ {
	background-color: tomato;
	float: left;
  color: white;
  border: 4px solid black;
  margin: 30px;
  padding: 30px;
  line-height: 30px;
  font-size: 160%;
}

#changes {
	color: green;
	padding-top: 40px;
	font-size: 55px;
}

.caten{
	background-color: green;
	color: white;
	border: 4px solid purple;
	margin: 30px;
	padding: 40px;
	font-size: 140%;
	line-height: 20px;
}

footer {
	background-color: yellow;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 10px;
}

a footer {
	color: #e70c19
}

a:hover{
	color: white;
	background-color: purple;
}


