body{
	font-family:Balsamiq Sans, cursive;
	margin:0;
	font-size: 16px;
} 

header img {
	text-align: center;
	width: 300px;
	border: solid red;
	border-radius: 250px;

}

header {
	text-align: center;
	background-color: #F8A344;
	padding-top: 30px;
	padding-bottom: 15px;
}

h1 {
	text-align: center;
	color: red;
	font-size: 35px;
}

main img {
	max-width: 30%;
	border-radius: 930px;
	border: solid black 3px;
	text-align: right;
}

.categ {
	background-color: tomato;
  color: white;
  border: 4px solid black;
  margin: 30px;
  padding: 30px;
  line-height: 30px;
  font-size: 160%;
}

#changes {
	color: green;
	padding-top: 40px;
	font-size: 55px;
}

.caten{
	background-color: green;
	color: white;
	border: 3px solid white;
	margin: 30px;
	padding: 40px;
	font-size: 140%;
	line-height: 20px;
}