body {
	font-family: 'Nunito', sans-serif;
	margin: 0px;
	background-image: linear-gradient(rgba(255,0,0,0.4),rgba(5,40,220,0.4));
}

header {
	text-align: center;
	font-size: 130%;
}
header h1 {
	font-size: 50px;

}
header img {
	width: 400px;
	padding: 15px;
	border-radius: 60px;
}
header p {
	padding: 35px;
	text-align: left;
	font-size: 23px;

}

h1, h4 {
	color: brown;
	text-align: center;
}

h3{
	text-align: center;
	color: red;
	font-size: 30px;
}

.rightimg {
	width: 60%;
	padding-left: 40px;
}

u{
	font-size: 25px;
}

li {
	line-height: 35px;
	font-size: 19px;
	color:white;
}

.middleimg{
	float: right;
	text-align: middle;
	width: 45%
	border-radius: 20px;
	padding: 60px 50px 20px 0px;
}

footer{
	color:black;
	text-align: center;
}

span{
	color: grey;
	font-style: italic;
	font-size: 18px;
}

main img{
}

.modif{
	columns: 2;
}

.main{
	padding-left: 25px;
	background-color: purple;
	border: solid orange 5px;
	padding-top: 25px;
}

.sapin{
	max-width: 40%;
	padding-left:380px;

}

a:hover{
	color: black;
	background-color: white;
}

footer{
	background-color: yellow;
	padding-bottom: 2px;
}